<div class='w-screen h-screen  flex flex-col bg-white relative'>
  <div class='absolute w-full  flex flex-row justify-center p-3'>
    <ul class="text-sm font-medium  text-center text-gray-500 rounded-lg shadow flex flex-row m-auto	  justify-center">
      <li class="focus-within:z-10" *ngFor="let action of ['designs','layers', 'patterns' ]; first as first; last as last">
        <button
          (click)='setCurrentAction(action)'
          [ngClass]="{
      'not-selected-layer': currentAction !== action,
      'selected-layer': currentAction === action,
      'rounded-s-lg': first,
      'rounded-e-lg': last
    }">
          {{ action }}
        </button>
      </li>
    </ul>
  </div>
  <div class='flex-1 bg-green-200'>
    <div
      #konvaContainer
      id='konva-container'
      style='width: 2048px; height: 2048px; display: none'
    ></div>
    <canvas
      #threeDCanvas
      id='renderer-canvas'
      style='height: 100%; width: 100%; padding: 0px'
    ></canvas>
  </div>
  <app-design-selector *ngIf='currentAction === "designs"'   (designSelected)="applyDesign($event)" ></app-design-selector>
  <app-layer-color-picker *ngIf='currentAction === "layers" && design' [layers]="design.layers" (colourPicked)="applyColor($event)" ></app-layer-color-picker>
  <app-layer-patterns *ngIf='currentAction === "patterns" && design' [layers]="design.layers" (colourPicked)="applyColor($event)" (patternPicked)="applyPattern($event)"></app-layer-patterns>
</div>
