<div class='relative w-screen h-screen  flex flex-col bg-white'>
  <div class='fixed w-full  flex flex-row justify-center p-3'>
    <div class="grid grid-cols-3 gap-6">
      <div class="border border-gray-300 rounded-lg p-2 lg:p-2 bg-white shadow-md cursor-pointer"
          [ngClass]="{
            'bg-white': currentAction !== action,
            'bg-yellow-900 text-white': currentAction === action,
          }"
           (click)='setCurrentAction(action)'
           *ngFor="let action of ['designs','layers', 'patterns' ]; first as first; last as last">
        <p class="text-sm lg:text-xl font-semibold text-center">{{action}}</p>
       </div>
    </div>
  </div>
  <div class='flex-1 bg-green-200'>
    <div
      #konvaContainer
      id='konva-container'
      style='width: 2048px; height: 2048px; display: none'
    ></div>
    <canvas
      #threeDCanvas
      id='renderer-canvas'
      style='height: 100%; width: 100%; padding: 0px'
    ></canvas>
  </div>
  <app-design-selector *ngIf='currentAction === "designs"' [sceneHelper]="sceneHelper" [stage]="stage"  [dynamicTexture]="this.dynamicTexture" ></app-design-selector>
  <app-layer-color-picker *ngIf='currentAction === "layers" && !!layerHelper.designLayers'  [stage]="stage" [dynamicTexture]="this.dynamicTexture"  ></app-layer-color-picker>
  <app-layer-patterns *ngIf='currentAction === "patterns"' ></app-layer-patterns>
</div>
