<div class='h-screen w-screen text-left text-white font-montserrat bg-gray-900 flex'>
  <div class='bg-gray w-28 h-full flex flex-col items-center justify-start box-border space-y-10'>
    <div class='bg-gray w-28 h-full flex flex-col box-border space-y-10' id="main-menu"  >
      <ul class='w-full flex-col space-y-10 mt-20'  >
        <li
          class='h-24 cursor-pointer hover:bg-gray-600 flex flex-col items-center justify-center text-gray-400 fill-gray-400'
        >
          <img src="https://fictive-codes.s3.ap-southeast-2.amazonaws.com/public/icons/svg/templates.svg" width="40" >
          <span class='mt-2'>Templates</span>
        </li>
        <li
          class='h-24 cursor-pointer hover:bg-gray-600 flex flex-col items-center justify-center text-gray-400 fill-gray-400'>
          <img src="https://fictive-codes.s3.ap-southeast-2.amazonaws.com/public/icons/svg/elements.svg" width="40" >
          <span class='mt-2'>Elements</span>
        </li>
        <li
          class='h-24 cursor-pointer hover:bg-gray-600 flex flex-col items-center justify-center text-gray-400 fill-gray-400'>
          <img src="https://fictive-codes.s3.ap-southeast-2.amazonaws.com/public/icons/svg/text.svg" width="40">
          <span class='mt-2'>Text</span>
        </li>
        <li
          class='h-24 cursor-pointer hover:bg-gray-600 flex flex-col items-center justify-center text-gray-400 fill-gray-400'>
          <img src="https://fictive-codes.s3.ap-southeast-2.amazonaws.com/public/icons/svg/image.svg" width="40">
          <span class='mt-2'>Image</span>
        </li>
        <li
          class='h-24 cursor-pointer hover:bg-gray-600 flex flex-col items-center justify-center text-gray-400 fill-gray-400'>
          <img src="https://fictive-codes.s3.ap-southeast-2.amazonaws.com/public/icons/svg/my-design.svg" width="40">
          <span class='mt-2'>My Designs</span>
        </li>
        <li
          class='h-24 cursor-pointer hover:bg-gray-600 flex flex-col items-center justify-center text-gray-400 fill-gray-400'>
          <img src="https://fictive-codes.s3.ap-southeast-2.amazonaws.com/public/icons/svg/my-design.svg" width="40">
          <span class='mt-2'>Patterns</span>
        </li>
      </ul>
    </div>
    <div class='flex items-center justify-center rounded-md p-4 text-gray-400'  >

    </div>
  </div>
  <div class='w-2/12 h-full'>
    <ul>
      <li *ngFor="let design of designs" (click)="loadDesign(design)" >
        {{design.name}}
      </li>
    </ul>
  </div>
  <div class='flex-1 bg-white'>
    <div class='flex-1 flex flex-col h-full'>
      <div class='flex-1 relative'>
        <div
          id='konva-container'
          #konvacontainer
          style='width: 2048px; height: 2048px; display: none'
        ></div>
        <canvas
          #rendererCanvas
          id='renderer-canvas'
          style='height: 100%; width: 100%; padding: 0px'
        ></canvas>
      </div>
    </div>
  </div>
</div>


